/* Add a border to content cards */
.card-container {
  border: 2px solid #007bff; /* Adjust the color and width as needed */
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 320px;
  text-align: center;
}

.card-img-top {
  width: 220%;
  max-height: 600px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: solid;
  border: 2px solid #007bff;
  box-shadow: 0 0 0 2px #007bff;
  margin: 0;
}
.card-body {
  padding: 20px;
}

.card-title {
  font-weight: 600;
  color: #2a0808;
  padding: 12px 0;
  font-size: 1.5em;
  background: #e9ecef;
  border-bottom: 2px solid #dcdcdc;
}

/* Type-Specific Styles */

.sports-type .card {
  color: green;
}

.review-type .card {
  color: red;
}

/* Hover Effect */

.custom-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Typography Styles */
.card-type {
  font-size: 1em;
  margin-bottom: 10px;
}

.card-heading,
.card-type {
  color: #e10303;
}

.card-creator {
  color: #e10303;
}

.content-highlight {
  border: 2px solid green;
}
