<app-create-content (contentAdded)="addNewContent($event)"></app-create-content>
<!-- Search Input -->
<input type="text"
       #searchInput
       [value]="searchTitle"
       (input)="searchTitle = searchInput.value"
       placeholder="Search by title...">

<!-- Search Button -->
<button (click)="searchContent()">Search</button>

<!-- Search Result Message -->
<p *ngIf="searchMessage" [ngStyle]="{'color': searchMessageColor}">
  {{ searchMessage }}
</p>

<!-- Content List -->
<div class="card" style="width: 18rem;" *ngFor="let content of contentArray" [ngClass]="{'content-highlight': highlightedContentIndex === content.id}">
  <img [src]="content.imgURL" class="card-img-top" alt="{{ content.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ content.title }}</h5>
    <p class="card-text">{{ content.description }}</p>
    <p>Creator: {{ content.creator }}</p>
  </div>
  <!--filtercontent type is for match the item for display and to find it -->
<div>
  <div *ngFor="let content of contentArray">
    {{ content.type }}
    <p class="card-text">{{ content.description }}</p>

  </div>

  <div *ngFor="let content of contentArray | filterContentType:'year'">
    {{ content.type }}
    <p class="card-text">{{ content.description }}</p>
  </div>

  <div *ngFor="let content of contentArray | filterContentType:'stadium'">
    {{ content.type }}
    <p class="card-text">{{ content.description }}</p>

  </div>
</div>




